.floating-dock-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-top: 5rem;
    margin-bottom: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dock-icon-wrapper {
    aspect-ratio: 1;
    border-radius: 50%;
    background: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    color: var(--zen-text-primary);
}

.dock-icon-wrapper.active {
    background: var(--zen-accent);
    box-shadow: 0 0 20px var(--zen-accent-glow);
    color: white;
}

.dock-icon-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.dock-icon-inner svg {
    width: 50%;
    height: 50%;
}

.active-dot {
    position: absolute;
    bottom: -10px;
    width: 4px;
    height: 4px;
    background: var(--zen-accent);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--zen-accent);
}